html, body{
    height: 90%;
}
img.align-right{
    float: right;
    margin-left: 15px;
}
html {
    background-color: #646464;
}

body {
    display: table-cell;
}
body, h1, ul, ol, sub{ 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Verdana, sans-serif;
    color: white;

}