html, body{
    height: 100%;
}

html {
    display: table;
    margin: auto;
    background-color: #646464;
}

body {
    display: table-cell;
    vertical-align: middle;
}
h1, h2, p, sub{ 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Verdana, sans-serif;
    color: white;
    text-align: center} 
