html, body{
    height: 100%;
}
html  {
    display: table;
    margin: auto;
    background-color: #3b3b3b;
@font-face {
    font-family: JetBrains Mono;
    src: url(https://fonts.googleapis.com/css?family=JetBrains Mono );
}
}

body {
    display: table-cell;
    vertical-align: middle;
    font-family: 'JetBrains Mono';
}
h1, h2, p, sub{ 
    font-family: 'JetBrains Mono';
    color: white;
    text-align: center} 
