html, body{
    height: 100%;
}
img.align-right{
    float: right;
    margin-left: 10px;
}
html {
    background-color: #3b3b3b;
}

body {
    display: table-cell;
}
body, h1, ul, sub{ 
    font-family: 'JetBrains Mono';
    color: white;

}
